$lightGrey: #D1D1D1;
$purple: #602080;
$teal: #008080;
$bluerTeal: #1C6480;

body {
	font-family: 'Alegreya Sans', sans-serif;
	background-color: $lightGrey;
	color: $purple;
}

ul li {
	list-style-type: none;
}

#sidebar {
	color: $lightGrey;
	background-color: $purple;

	#brandLogo {
		width: 48px;
	}
	
	.sidebarList {
		font-size: 20pt;
		margin: 0;
		padding-left: 0;

		li {
			line-height: 2;
			display: inline-block;
			cursor: pointer;
			text-transform: uppercase;

			&.active {
				background-color: $teal;
			}

			&:hover {
				background-color: $teal;
			}

			a {
				color: $lightGrey;
				text-decoration: none;
				padding: 17px 50px;
			}
		}
	}
}

#landingContainer {
	height: 95vh;
	background-color: $bluerTeal;
}

#aboutViewContainer {
	#leftPanel {
		background-color: $bluerTeal;
		height: 95vh;
		box-shadow: black 1px 1px 10px;
	}

	#rightPanel {

		#aboutImgContainer{
			margin-top: 2%;

			img {
				width: 100%;
	    	margin: auto;
	    	display: block;
			}
		}
	}
}