/* Variables */

$lightGrey: #D1D1D1;
$purple: #602080;
$teal: #008080;
$bluerTeal: #1C6480;

/* Variables End */

/* Global */

body {
	font-family: 'Alegreya Sans', sans-serif;
	background-color: $lightGrey;
	color: $purple;
}

ul li {
	list-style-type: none;
}

.purpleText {
	color: $purple;
}

.lightText {
	color:  $lightGrey;
}
/* Global End*/

/* Header */

#header {
	color: $lightGrey;
	background-color: $purple;

	#brandLogo {
		width: 48px;
	}
	
	.headerList {
		font-size: 20pt;
		margin: 0;
		padding-left: 0;

		li {
			line-height: 2;
			display: inline-block;
			cursor: pointer;
			text-transform: uppercase;

			&.active {
				background-color: $teal;
			}

			&:hover {
				background-color: $teal;
			}

			a {
				color: $lightGrey;
				text-decoration: none;
				padding: 17px 50px;
			}
		}
	}
}
/* Header End*/

/* Footer */

#footer {
	color: $lightGrey;
	background-color: $purple;
	height: 55px	
}

/* Footer End*/

/* Landing Page */

#landingContainer {
	height: 95vh;
	background-color: $bluerTeal;
}

#landingTextContainer {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(assets/images/bgfallback.jpg) no-repeat;
    background-size: cover; 
}

#landingBtn {
	color: #eee;
  background-color: #602080;
}

.landingHeader {
	font-family: 'Amatic SC', cursive;
	font-size: 10em;
}

.landingH2 {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}
/* Landing Page End */

/* About Page */

#aboutViewContainer {
	#leftPanel {
		background-color: $bluerTeal;
		height: 87vh;
		box-shadow: black 1px 6px 10px;

		.aboutPageList {
			margin-top: 5ex;
			padding-left: 0;
			li {
				font-size: 17pt;

				span {
					margin-left: 20px;
				}

			}
		}
	}

	#rightPanel {
		#aboutImgContainer{
			margin-top: 2%;

			img {
				width: 100%;
	    	margin: auto;
	    	display: block;
			}
		}
	}
}

/* About Page End */

/* Transitions */

main {
    /* start 'enter' transition */
    &.ng-enter {
        /* transition on enter for .5s */
        transition: .5s;
 
        /* start with opacity 0 (invisible) */
        opacity: 0;
    }
 
    /* end 'enter' transition */
    &.ng-enter-active {
        /* end with opacity 1 (fade in) */
        opacity: 1;
    }
}

/* Transitions End */