$lightGrey: #D1D1D1;
$purple: #602080;
$teal: #008080;
$bluerTeal: #1C6480;

body {
	font-family: 'Alegreya Sans', sans-serif;
	background-color: $lightGrey;
	color: $purple;
}

ul li {
	list-style-type: none;
}

#sidebar {
	color: $lightGrey;
	background-color: $purple;

	#brandLogo {
		width: 48px;
	}
	
	.sidebarList {
		font-size: 20pt;
		margin: 0;
		padding-left: 0;

		li {
			line-height: 2;
			display: inline-block;
			cursor: pointer;
			text-transform: uppercase;

			&.active {
				background-color: $teal;
			}

			&:hover {
				background-color: $teal;
			}

			a {
				color: $lightGrey;
				text-decoration: none;
				padding: 17px 50px;
			}
		}
	}
}

#landingContainer {
	height: 95vh;
	background-color: $bluerTeal;
}

#aboutViewContainer {
	#leftPanel {
		background-color: $bluerTeal;
		height: 95vh;
		box-shadow: black 1px 6px 10px;
	}

	#rightPanel {

		#aboutImgContainer{
			margin-top: 2%;

			img {
				width: 100%;
	    	margin: auto;
	    	display: block;
			}
		}
	}
}

.lightText {
	color: $purple;
}

#landingTextContainer {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

#landingBtn {
	color: #eee;
  background-color: #602080;
}

.landingHeader {
	font-family: 'Amatic SC', cursive;
	font-size: 10em;
}

.landingH2 {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}