body {
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #D1D1D1;
  color: #602080; }

ul li {
  list-style-type: none; }

#sidebar {
  color: #D1D1D1;
  background-color: #602080; }
  #sidebar #brandLogo {
    width: 48px; }
  #sidebar .sidebarList {
    font-size: 20pt;
    margin: 0;
    padding-left: 0; }
    #sidebar .sidebarList li {
      line-height: 2;
      display: inline-block;
      cursor: pointer;
      text-transform: uppercase; }
      #sidebar .sidebarList li.active {
        background-color: #008080; }
      #sidebar .sidebarList li:hover {
        background-color: #008080; }
      #sidebar .sidebarList li a {
        color: #D1D1D1;
        text-decoration: none;
        padding: 17px 50px; }

#landingContainer {
  height: 95vh;
  background-color: #1C6480; }

#aboutViewContainer #leftPanel {
  background-color: #1C6480;
  height: 95vh;
  box-shadow: black 1px 6px 10px; }

#aboutViewContainer #rightPanel #aboutImgContainer {
  margin-top: 2%; }
  #aboutViewContainer #rightPanel #aboutImgContainer img {
    width: 100%;
    margin: auto;
    display: block; }

.lightText {
  color: #602080; }

#landingTextContainer {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1; }

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(polina.jpg) no-repeat;
  background-size: cover; }

#landingBtn {
  color: #eee;
  background-color: #602080; }

.landingHeader {
  font-family: 'Amatic SC', cursive;
  font-size: 10em; }

.landingH2 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase; }
