/* Variables */
/* Variables End */
/* Global */
body {
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #D1D1D1;
  color: #602080; }

ul li {
  list-style-type: none; }

.purpleText {
  color: #602080; }

.lightText {
  color: #D1D1D1; }

/* Global End*/
/* Header */
#header {
  color: #D1D1D1;
  background-color: #602080; }
  #header #brandLogo {
    width: 48px; }
  #header .headerList {
    font-size: 20pt;
    margin: 0;
    padding-left: 0; }
    #header .headerList li {
      line-height: 2;
      display: inline-block;
      cursor: pointer;
      text-transform: uppercase; }
      #header .headerList li.active {
        background-color: #008080; }
      #header .headerList li:hover {
        background-color: #008080; }
      #header .headerList li a {
        color: #D1D1D1;
        text-decoration: none;
        padding: 17px 50px; }

/* Header End*/
/* Footer */
#footer {
  color: #D1D1D1;
  background-color: #602080;
  height: 55px; }

/* Footer End*/
/* Landing Page */
#landingContainer {
  height: 95vh;
  background-color: #1C6480; }

#landingTextContainer {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1; }

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(assets/images/bgfallback.jpg) no-repeat;
  background-size: cover; }

#landingBtn {
  color: #eee;
  background-color: #602080; }

.landingHeader {
  font-family: 'Amatic SC', cursive;
  font-size: 10em; }

.landingH2 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase; }

/* Landing Page End */
/* About Page */
#aboutViewContainer #leftPanel {
  background-color: #1C6480;
  height: 87vh;
  box-shadow: black 1px 6px 10px; }
  #aboutViewContainer #leftPanel .aboutPageList {
    margin-top: 5ex;
    padding-left: 0; }
    #aboutViewContainer #leftPanel .aboutPageList li {
      font-size: 17pt; }
      #aboutViewContainer #leftPanel .aboutPageList li span {
        margin-left: 20px; }

#aboutViewContainer #rightPanel #aboutImgContainer {
  margin-top: 2%; }
  #aboutViewContainer #rightPanel #aboutImgContainer img {
    width: 100%;
    margin: auto;
    display: block; }

/* About Page End */
/* Transitions */
main {
  /* start 'enter' transition */
  /* end 'enter' transition */ }
  main.ng-enter {
    /* transition on enter for .5s */
    transition: .5s;
    /* start with opacity 0 (invisible) */
    opacity: 0; }
  main.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1; }

/* Transitions End */
