<div class="row" id="landingContainer">
	<div class="col-md-12">
		<video autoplay loop poster="/assets/images/bgfallback.jpg" id="bgvid">
	    <source src="/assets/images/videoBack.webm" type="video/webm">
	    <source src="/assets/images/videoBack.mp4" type="video/mp4">
		</video>
		<div id="landingTextContainer">
			<h1 class="text-center lightText landingHeader">Hello.</h1>
			<h2 class="text-center lightText landingH2">Welcome to Ari Gonzalez's Portfolio</h2>
			<br>
			<h3 class="text-center lightText landingH3">I like build web apps and read comic books... <br>and I'm all out of comic books</h3>
			<br>
			<div class="text-center">
				<a ui-sref="home" id="landingBtn" class="btn btn-lg btn-default">Find out more! &nbsp&nbsp&nbsp<span class="glyphicon glyphicon-hand-right"></span></a>
			</div>
		</div>
	</div>
</div>